.cardContainer{
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

h1{
  text-align: center;
  padding: 20px;
}

.badge {
  font-size: 25px;
  margin: 10px;
}

.card-body{
  text-align: center;
}

.badge-container{
  display: flex;
  justify-content: center;
}

.cardContainer img{
  height: 350px;
}

h5{
  text-align: center;
  padding:20px;
}